// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

//Color palette

$dark-lava:#443730;
$row-umbrella: #786452;
$grullo: #a5907e;

// Override Bootstrap color system

$orange: #bd5d38;

// Override Bootstrap default state colors

$primary: #550c18;
$secondary: #4d2224;
